<div class="p-2">
    <div class="mt-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <h2 class="card-title">Uspjeh!</h2>
                <p>
                    Uspješno ste se prijavili na natjecanje!
                </p>
                <div class="card-actions justify-end">
                </div>
            </div>
        </div>
    </div>
</div>