<div class="p-2">
    {{#if result.display_form}}
    <form method="post" action="/competitions/results{{#if result.edit}}edit{{/if}}{{#unless result.edit}}add{{/unless}}"
        class="flex flex-col gap-2">
        <div class="pb-2 flex flex-col">
            <label>Bodovi</label>
            <input type="number" {{#if
                result.edit}}value="{{result.edit.points}}" {{/if}} />
        </div>
        {{#if result.edit}}
        <input type="hidden" name="id" value="{{result.edit.id}}" />
        {{/if}}
        {{> form_buttons }}
    </form>
    {{/if}}

    {{#if result.validation_error}}
    {{> validation_error }}
    {{/if}}

    {{#if result.database_error}}
    {{> database_error}}
    {{/if}}

    {{#if result.success}}
    <div class="mt-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <h2 class="card-title">Uspjeh!</h2>
                <p>
                    Uspješno ste dodali broj bodova!
                </p>
                <div class="card-actions justify-end">
                    <a class="btn" href="/results">Nastavi na prikaz rezultata</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>