<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', async function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();

            const response = await fetch("/competitions/leaderboard/graph_data");
            const data = await response.json();
            console.log(data);

            data.result.items.forEach((element) => {
                calendar.addEvent({ title: element.name, start: element.apply_till });
            });
        });

    </script>
</head>

<body>
    <div id='calendar'></div>
</body>

</html>