<!DOCTYPE html>
<html>

<head>
    <title>Tablica rezultata</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    {{{body}}}
</body>

</html>