<div class="flex flex-col gap-2 p-2">
    <div class="pb-2 flex-col">
        <label>Ime i prezime:</label>
        <input type="text" value="{{user.name}}" class="bg-base-300" />
    </div>
    <div class="pb-2 flex-col">
        <label>E-mail adresa:</label>
        <input type="email" value="{{user.email}}" class="bg-base-300" />
    </div>
    <div class="pb-2 flex-col">
        <label>Zaporka:</label>***********
        <input type="password" name="password" class="bg-base-300" />
    </div>
    <div class="pb-2 flex gap-2">
        <input type="submit" value="Potvrdi" class="flex-1 btn-primary" />
        <input type="reset" value="Poništi" class="flex-1 btn-warning" />
    </div>
</div>